<style>
  

/*Child Section Static Shadow*/  
#lp-pom-box-1714, #lp-pom-box-2074 {
  -webkit-box-shadow: 2px 4px 14x -8px rgba(1,31,75,0.95); 
  -moz-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95);
  -webkit-transition-duration: 0.5s ease-in-out;
  -moz-transition-duration: 0.5s ease-in-out;
}

</style>
