<style>
  
  /*Mobile Sticky Nav*/
  
@media only screen and (max-width:600px) {
  
  #lp-pom-box-4941, #lp-pom-box-4941-color-overlay {
    position: fixed !important;
    width: 100vw !important;
    display: block !important;
  }
}

/*mobile right button nav responsive*/
@media screen and (max-width: 600px) and (min-width: 575px){
  #lp-pom-button-4942{
      margin-left: 250px;
  }
}

@media screen and (max-width: 575px) and (min-width: 550px){
  #lp-pom-button-4942{
      margin-left: 230px;
  }
}

@media screen and (max-width: 550px) and (min-width: 525px){
  #lp-pom-button-4942{
      margin-left: 200px;
  }
}

@media screen and (max-width: 525px) and (min-width: 500px){
  #lp-pom-button-4942{
      margin-left: 180px;
  }
}

@media screen and (max-width: 500px) and (min-width: 475px){
  #lp-pom-button-4942{
      margin-left: 150px;
  }
}

@media screen and (max-width: 475px) and (min-width: 450px){
  #lp-pom-button-4942{
      margin-left: 125px;
  }
}

@media screen and (max-width: 450px) and (min-width: 425px){
  #lp-pom-button-4942{
      margin-left: 100px;
  }
}

@media screen and (max-width: 425px) and (min-width: 400px){
  #lp-pom-button-4942{
      margin-left: 78px;
  }
}

@media screen and (max-width: 400px) and (min-width: 375px){
  #lp-pom-button-4942{
      margin-left: 54px;
  }
}

@media screen and (max-width: 375px) and (min-width: 350px){
  #lp-pom-button-4942{
      margin-left: 30px;
  }
}

@media screen and (max-width: 350px){
  #lp-pom-button-4942{
      margin-left: 10px;
  }
}
  
/*Child Section Static Shadow*/
.lp-pom-box{
 -webkit-box-shadow:2px 4px 14px -8px rgba(1,31,75,.95);
 -moz-box-shadow:2px 4px 14px -8px rgba(1,31,75,.95);
  box-shadow:2px 4px 14px -8px rgba(1,31,75,.95);
}
/*Saatva Main Section Color Shadow*/
#lp-pom-box-3643,
#lp-pom-box-4619,
#lp-pom-box-4551 {
 -webkit-box-shadow: 0px 0px 27px -4px rgba(255,149,0,1);
 -moz-box-shadow: 0px 0px 27px -4px rgba(255,149,0,1);
  box-shadow: 0px 0px 27px -4px rgba(255,149,0,1);
}
/*Button Hover Effects*/
.lp-pom-button {
 -webkit-transform: perspective(0px) translateZ(0);
 transform: perspective(0px) translateZ(0);
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
}
.lp-pom-button:hover {
 -webkit-transform: translateX(4px);
 transform: translateX(4px);
}
/*Saatva Main CTA Wiggle + Shadow*/
#lp-pom-button-4107 {
 -webkit-animation: btnWiggle 5s infinite;
 -moz-animation: btnWiggle 5s infinite;
 -o-animation: btnWiggle 5s infinite;
 animation: btnWiggle 5s infinite;
 box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.2);
}
/*Saatva Bottom CTA Shadow*/
#lp-pom-button-4493, #lp-pom-button-3949, #lp-pom-button-4203, #lp-pom-button-4505 {
 box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.2);
}
#lp-pom-button-4107:hover, #lp-pom-button-4493:hover, #lp-pom-button-3949:hover, #lp-pom-button-4203:hover, #lp-pom-button-4505:hover {
 box-shadow: 0px 12px 15px rgba(255, 69, 0, 0.25);
}
/*Nav Button Fix*/
#lp-pom-button-4424:hover,
#lp-pom-button-4079:hover,
#lp-pom-button-4080:hover,
#lp-pom-button-4081:hover {
 -webkit-transform: translateX(0px);
 transform: translateX(0px);
}
/*Button Wiggle animation*/
@-webkit-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-2deg);}
    3.5% {-webkit-transform: rotate(2deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-2deg);}
    3.5% {-webkit-transform: rotate(2deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
    0% {-webkit-transform: rotate(0deg);}
    2% {-webkit-transform: rotate(-2deg);}
    3.5% {-webkit-transform: rotate(2deg);}
    5% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(0deg);}
}
/*Text Link Styling*/
.lp-pom-text a:link {
 color: #3485FC !important;
 text-decoration: none !important;
 padding-bottom: 2px !important;
}
/*Header Link Styling*/
#lp-pom-text-73 a:link {
 color: #FFFFFF !important;
}
/*Footer Link Styling*/
#lp-pom-text-3184 a:link {
 color: #FFFFFF !important;
 }
#lp-pom-text-4545 a:link {
 color: #FFFFFF !important;
 }
  
/* Advertiser Disclosure Tooltip */
.tooltip {
 position: relative;
}
.tooltip:before,
.tooltip:after {
 display: block;
 opacity: 0;
 pointer-events: none;
 position: absolute;
}
.tooltip:after {
 border-right: 10px solid transparent;
 border-bottom: 10px solid rgba(249,249,249,.97);
 border-left: 10px solid transparent;
 content: '';
 height: 0;
 top: 20px;
 left: 20px;
 width: 0;
 border-radius: 6px;
}
.tooltip:before {
 background: rgba(249,249,249,1);
 border-radius: 6px;
 color: #333333;
 content: attr(data-title);
 font-size: 12px;
 padding: 10px 12px;
 top: 26px;
 white-space: pre-wrap;
}
.tooltip.fade:after,
.tooltip.fade:before {
 transform: translate3d(0,-10px,0);
 transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
 opacity: 1;
 transform: translate3d(0,0,0);
}
</style>