<style>

/*Button Hover Effects*/
  
.lp-pom-button {
  vertical-align: middle;
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
   -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: solid 1px rgba(255, 255, 255, 0.31);
  -webkit-box-shadow: 0px 2px 4px 0 rgba(28, 44, 64, 0.17);
          box-shadow: 0px 2px 4px 0 rgba(28, 44, 64, 0.17);
}
 
  
.lp-pom-button:hover {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
    -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
  

/*Button Wiggle 5s Timer*/
  
#lp-pom-button-2053, #lp-pom-button-1297 {
  -webkit-animation: btnWiggle 5s infinite;
  -moz-animation: btnWiggle 5s infinite;
  -o-animation: btnWiggle 5s infinite;
  animation: btnWiggle 5s infinite;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
}
  
/*Button Wiggle animation */
@-webkit-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
  
/*Text Link Styling*/
  
.lp-pom-text a:link {
  color: #3485FC !important;
  text-decoration: none !important;
  padding-bottom: 2px !important;
}

.lp-pom-text a:hover {
  color: #F44500 !important;
}

/*Footer Link Styling*/

#lp-pom-text-3008 a:link {
  color: #ffffff !important;
  }
  
#lp-pom-text-3008 a:hover {
  color: #F44500 !important;
  }

/*Menu Link Styling*/
  
#lp-pom-text-3005 a:link, #lp-pom-text-3006 a:link {
  color: #929292 !important;
  }
  
#lp-pom-text-3005 a:hover, #lp-pom-text-3006 a:hover {
  color: #F44500 !important;
  }
  
/*Child Section Static Shadow*/
  
#lp-pom-box-713, #lp-pom-box-1699, #lp-pom-box-1078, #lp-pom-box-2449, #lp-pom-box-2456, #lp-pom-box-2669, #lp-pom-box-2763{
  -webkit-box-shadow: 2px 4px 14x -8px rgba(1,31,75,0.95); 
  -moz-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95);
  -webkit-transition-duration: 1s ease-in-out;
  -moz-transition-duration: 1s ease-in-out;
}

</style>
