<style>

/*Fixed Fader Nav*/  

#lp-pom-box-4397, 
#lp-pom-box-4397-color-overlay {display: none;}

/*Button Shadows*/

#lp-pom-button-4128, 
#lp-pom-button-4150, 
#lp-pom-button-4170 {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  }
  
#lp-pom-button-4190, 
#lp-pom-button-4210, 
#lp-pom-button-4230, 
#lp-pom-button-4310, 
#lp-pom-button-4250, 
#lp-pom-button-4290, 
#lp-pom-button-4270, 
#lp-pom-button-3482, 
#lp-pom-button-4024, 
#lp-pom-button-4037, 
#lp-pom-button-4096,
#lp-pom-button-4339 {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease 0s;
  }

/*Child Section Static Shadow*/
  
#lp-pom-box-4126, 
#lp-pom-box-4149, 
#lp-pom-box-4169, 
#lp-pom-box-4189, 
#lp-pom-box-4209, 
#lp-pom-box-4229, 
#lp-pom-box-4309, 
#lp-pom-box-4249, 
#lp-pom-box-4289, 
#lp-pom-box-4269, 
#lp-pom-box-4017, 
#lp-pom-box-4031, 
#lp-pom-box-4090,
#lp-pom-box-4347,
#lp-pom-box-4333 {
  -webkit-box-shadow: 2px 4px 14x -8px rgba(1,31,75,0.95); 
  -moz-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95);
  -webkit-transition-duration: 1s ease-in-out;
  -moz-transition-duration: 1s ease-in-out;
}
  
/*Text Link Styling*/
  
.lp-pom-text a {
  text-decoration: none !important;
}

/* Advertiser Disclosure Tooltip */
  
.tooltip {
  position: relative;
}
  
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
  
.tooltip:after {
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(249,249,249,1); 
  border-left: 10px solid transparent;
  content: '';
  height: 0;
  top: 20px;
  left: 20px;
  width: 0;
  border-radius: 6px;
}
  
.tooltip:before {
  background: rgba(249,249,249,1);
  border-radius: 6px;
  color: #333333;
  content: attr(data-title);
  font-size: 8px;
  padding: 10px 12px;
  top: 26px;
  white-space: pre-wrap;
}
  
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
  
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

</style>