<style>

/*Fixed Fader Nav*/  

#lp-pom-box-4438, 
#lp-pom-box-4438-color-overlay {display: none;}

/*Button Shadows*/

#lp-pom-button-4198, 
#lp-pom-button-4217, 
#lp-pom-button-4237 {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  }
  
#lp-pom-button-4297, 
#lp-pom-button-4277, 
#lp-pom-button-4257, 
#lp-pom-button-4317, 
#lp-pom-button-4337, 
#lp-pom-button-4357, 
#lp-pom-button-4377, 
#lp-pom-button-3482, 
#lp-pom-button-4024, 
#lp-pom-button-4096, 
#lp-pom-button-4037 {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease 0s;
  }

/*Child Section Static Shadow*/
  
#lp-pom-box-4196, 
#lp-pom-box-4216, 
#lp-pom-box-4236, 
#lp-pom-box-4296, 
#lp-pom-box-4276, 
#lp-pom-box-4256, 
#lp-pom-box-4316, 
#lp-pom-box-4336, 
#lp-pom-box-4356, 
#lp-pom-box-4376, 
#lp-pom-box-4017, 
#lp-pom-box-4090, 
#lp-pom-box-4031,
#lp-pom-box-4400 {
  -webkit-box-shadow: 2px 4px 14x -8px rgba(1,31,75,0.95); 
  -moz-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95);
  -webkit-transition-duration: 1s ease-in-out;
  -moz-transition-duration: 1s ease-in-out;
}
  
/*Text Link Styling*/
  
.lp-pom-text a {
  text-decoration: none !important;
}

/* Advertiser Disclosure Tooltip */
  
.tooltip {
  position: relative;
}
  
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
  
.tooltip:after {
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(249,249,249,1); 
  border-left: 10px solid transparent;
  content: '';
  height: 0;
  top: 20px;
  left: 20px;
  width: 0;
  border-radius: 6px;
}
  
.tooltip:before {
  background: rgba(249,249,249,1);
  border-radius: 6px;
  color: #333333;
  content: attr(data-title);
  font-size: 8px;
  padding: 10px 12px;
  top: 26px;
  white-space: pre-wrap;
}
  
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
  
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

</style>