<style>

/*Child Section Static Shadow*/
  
#lp-pom-box-6874, #lp-pom-box-6902, #lp-pom-box-6929, #lp-pom-box-6957, #lp-pom-box-6985, #lp-pom-box-7012, #lp-pom-box-7039, #lp-pom-box-7091, #lp-pom-box-7122, #lp-pom-box-7165, #lp-pom-box-7144 {
  -webkit-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  -moz-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95);
}

/*Button Hover Effects*/
  
.lp-pom-button {
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
 
.lp-pom-button:hover {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
  
/*Saatva Main CTA Wiggle + Shadow*/
  
#lp-pom-button-6880 {
  -webkit-animation: btnWiggle 5s infinite;
  -moz-animation: btnWiggle 5s infinite;
  -o-animation: btnWiggle 5s infinite;
  animation: btnWiggle 5s infinite;
  box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.2);
}

/*Saatva Bottom CTA Shadow*/

#lp-pom-button-7126 {
  box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.2);
}
  
#lp-pom-button-6880:hover, #lp-pom-button-7126:hover {
  box-shadow: 0px 12px 15px rgba(255, 69, 0, 0.25);
}
  
/*Button Wiggle animation */
  
@-webkit-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
  
@-o-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
  
@keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
} 

/*Text Link Styling*/
  
.lp-pom-text a:link {
  color: #3485FC !important;
  text-decoration: none !important;
  padding-bottom: 2px !important;
}
  
/*Header Link Styling*/
  
#lp-pom-text-73 a:link {
  color: #FFFFFF !important;
}
  
/*Footer Link Styling*/
  
#lp-pom-text-3184 a:link {
  color: #FFFFFF !important;
  }
  
/*Advertising Disclosure Header Modal*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  -moz-box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95); 
  box-shadow: 2px 4px 14px -8px rgba(1,31,75,0.95);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 30%;
  left: 18%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  max-width: 24rem;
  word-wrap: break-word;
  font-size: 0.8em;
  border-radius: 0.5rem;
  font-family: Montserrat;
  z-index: 100;
  border: solid 1px rgba(255, 255, 255, 0.31);
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #cccccc;
}

.close-button:hover {
  background-color: #b7b7b7;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

</style>